<div class="view mblView leftpanel mblBackground">
		<!--<div class="leftpanel mblBackground"> -->


	<script type="dojo/require">
		has: "dojo/has"
	</script>
		<div data-dojo-type="dojox/mobile/ScrollableView">
	<div data-dojo-type="dojox/mobile/Heading" data-dojo-props="fixed: 'top'">
		${nls.requests}

		<button data-dojo-type="dojox/mobile/ToolBarButton" style="position: absolute; right: 0"
				data-dojo-attach-point="createButton"
				data-dojo-attach-point="add">${nls.add}</button>

	</div>
	<button data-dojo-type="dojox/mobile/Button"
		data-dojo-attach-point="searchButton" class="mblBlueButton">${nls.search}</button>
<!--
	<button data-dojo-type="dojox/mobile/Button"
		data-dojo-attach-point="createButton2" data-dojo-props="target: 'requestItemDetails'" class="mblBlueButton">${nls.create}</button>
-->
	<div data-dojo-type="dojox/mobile/EdgeToEdgeStoreList"
			 data-dojo-attach-point="requests" id="requestsList"
			 data-dojo-props="store: this.loadedStores.requestsListStore, app: this.app,
			 itemRenderer: this.RequestListItem, stateful: !has('phone')"></div>
	</div>
</div>